@page
@model TimeFlow.Pages.Project.CreateModel

@{
    ViewData["Title"] = "Create";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link rel="stylesheet" href="/css/createProject.css">



<div class="containerNT">
    <h1>Créer projet</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Projet.Titre" class="control-label">Titre du projet</label>
                    <input asp-for="Projet.Titre" class="form-control" />
                    <span asp-validation-for="Projet.Titre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Projet.DateCreer" class="control-label">Date de création</label>
                    <input asp-for="Projet.DateCreer" class="form-control" />
                    <span asp-validation-for="Projet.DateCreer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />|
                    <a asp-page="./Index">Retour à la liste des projets</a>
                </div>
            </form>
        </div>
    </div>

</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
