body {
    margin: 0;
    background-color: #f2f2f2;
    color: #333;
    height: 100vh;
}

.containerNT {
    background-color: whitesmoke;
    padding: 30px;
    border: 1px solid #ddd;
    max-width: 600px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

/* Ajouter une classe spécifique pour les labels de date et d'heure */
.date-time-label {
    text-align: left;
    font-weight: bold;
    width: 100%; /* Définit la largeur totale */
}

select,
input[type="date"],
input[type="time"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="submit"],
input[type="button"],
input[type="reset"] {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    border-radius: 5px;
    background-color: #258cfb;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

    input[type="submit"]:hover,
    input[type="button"]:hover,
    input[type="reset"]:hover {
        background-color: #1c6ec3;
    }

    input[type="submit"]:focus,
    input[type="button"]:focus,
    input[type="reset"]:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(242, 242, 242, 0.5);
    }

/* Reste des styles, selon les besoins */



/* Ajouter une marge inférieure pour les inputs */
form div.form-group {
    margin-bottom: 15px;
}

    /* Ajouter un espacement entre les inputs et les boutons */
    form div.form-group,
    form div.form-group input,
    form div.form-group select,
    form div.form-group textarea,
    form div.form-group input[type="submit"],
    form div.form-group input[type="button"],
    form div.form-group input[type="reset"] {
        display: block;
    }
